<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Login Test Suite" verbose="2" parallel="none">

    <test name="Login Scenarios">
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="testValidLogin"/>
                    <include name="testInvalidPasswordLogin"/>
                    <include name="testEmptyFieldsLogin"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>